@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
    font-family: 'Poppins', sans-serif;
}



.calendar-light {
  background: #fff !important;
  color: #111 !important;
  border-radius: 10px;
  padding: 8px;
}

.calendar-light .react-calendar__navigation button {
  color: #111 !important;
}

.calendar-light .react-calendar__tile--active {
  background: #2563eb !important;
  color: white !important;
}


.calendar-dark {
  background: #0d1117 !important;
  color: white !important;
  border-radius: 10px;
  padding: 8px;
}

.calendar-dark .react-calendar__navigation button {
  color: white !important;
}

.calendar-dark .react-calendar__tile--active {
  background: #2563eb !important;
  color: white !important;
}


.react-calendar {
  width: 100% !important;
  max-width: 320px !important;
  border-radius: 10px;
}


.calendar-popup .react-calendar {
  width: 100% !important;
  max-width: 100% !important;
  border: none !important;
  background: transparent !important;
}

.calendar-popup .react-calendar__navigation button {
  font-size: 14px !important;
}

.calendar-popup .react-calendar__tile {
  padding: 8px 0 !important;
}

@media (max-width: 480px) {
  .calendar-popup {
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
}